@import url("https://fonts.googleapis.com/css2?family=Arima:wght@300;500&display=swap");
:root {
  --color-brown: #704616;
  --color-light: #f1e6d8;
}
* {
  color: var(--color-brown);
  background-color: var(--color-light);
  font-family: "Arima", cursive;
  margin: 0;
  letter-spacing: 1px;
}

#block {
  margin: 1rem auto;
  width: 80%;
  border: 1px solid var(--color-brown);
  padding: 2rem;
}
.title {
  margin-bottom: 1rem;
}
.img-block {
  height: 40rem;
  margin-top: 2rem;
}
